:root {
  --brand-rgb: 247, 225, 225;
  --brand-alpha: 0.5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.brand-surface {
  background-color: rgba(var(--brand-rgb), var(--brand-alpha)) !important;
}

#root {
  width: 100%;
  min-height: 100vh;
}
